.container {
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  min-height: 90vh;
}

.descriptionShowcase {
  width: 600px;
  padding: 0 4rem;
}

.showCaseImg {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.4);
  height: fit-content;
}

.divider {
  height: 2px;
  width: 80%;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  margin: 1rem 0;
}
